/* Animations */

.floatup {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.floatup:hover,
.floatup:focus,
.floatup:active {
    transform: translateY(-8px);
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.grow:hover,
.grow:focus,
.grow:active {
    transform: scale(1.025);
}

.growbigger {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.growbigger:hover,
.growbigger:focus,
.growbigger:active {
    transform: scale(1.06);
}

.navbtn {
    border: none;
    color: white;
    text-align: center;
    margin: 2px 2px;
    transition: 0.2s;
}

.navbtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
}

.more {
    padding: 16px 40px;
    background: #041541;
    background-image: linear-gradient(to left, transparent, transparent 50%, darkred 50%, darkred);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: 0.8s;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 0px #563F3B;
    text-transform: uppercase;
    font-family: 'TT2020_REG';
    font-size: 22px;
}

.more:hover {
    background-position: 0 0;
    transition: 0.8s;
}

.onthispage {
    transition: .2s;
    text-decoration: solid;
}